<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <span class="text-muted">Наша история</span>
        <h2 class="display-5 fw-bold">О нас</h2>
        <p class="lead">
          Международная сеть страховых брокеров «IBB» специализируется на
          страховании международных автоперевозчиков, помогая оптимизировать их
          расходы и обеспечивая полное покрытие рисков при перевозках между
          Европой и Азией.
        </p>
        <a class="btn btn-primary mt-2" href="">Узнать подробнее</a>
      </div>
      <div class="col-md-6 offset-md-1">
        <p class="lead">
          Мы предлагаем широкий спектр страховых услуг, включая ОСАГО, «Зелёную
          карту», «Синюю карту», страхование грузов, транспортных средств
          (АВТОКАСКО), ответственности экспедиторов и перевозчиков, а также
          медицинское страхование для водителей и персонала.
        </p>
        <p class="lead">
          В нашей сети более 350 клиентов-юридических лиц и 10 000 физических
          лиц, среди которых 55 крупных транспортных и логистических компаний.
          Наши клиенты – международные грузоперевозчики, экспедиторы и
          грузоотправители из России, Казахстана, Беларуси, Польши, Чехии,
          Узбекистана, Монголии, Грузии и других стран.
        </p>
      </div>
    </div>
  </div>
</section>
