<section
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 text-center bg-light about-section"
>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="text-center">
          <h2 class="display-2 fw-bold mb-5">О нас</h2>
          <p class="lead-about">
            Международная сеть страховых брокеров
            <strong>«IBB»</strong> специализируется на страховании международных
            автоперевозчиков, <strong>грузоотправителей</strong> (экспортеров) и
            <strong>грузополучателей</strong> (импортеров), помогая
            оптимизировать их расходы по страхованию и обеспечивая полное
            покрытие рисков при перевозках между <mark>Европой</mark> и
            <mark>Азией</mark>, в соответствии с законодательством стран
            транзита.
          </p>
          <p class="lead-about">
            В <strong>IBB</strong> входят <strong>эксперты</strong> и
            профессиональные посредники (преимущественно юридические лица),
            осуществляющие деятельность в сфере страховых услуг в
            <strong>Российской Федерации</strong>,
            <strong>Республике Казахстан</strong>,
            <strong>Республике Беларусь</strong>, <strong>Узбекистане</strong>,
            <strong>Грузии</strong> и др., которые имеют все необходимые
            компетенции и лицензии стран регистрации.
          </p>
          <p class="lead-about">
            Нашими клиентами являются более
            <strong>350 организаций</strong> всех форм собственности, в том
            числе
            <strong>56 крупных логистических и транспортных компаний</strong>, а
            также индивидуальные предприниматели из <strong>12 стран</strong>.
            <small
              >Мы гордимся тем, что наша сеть имеет долгую историю и надежную
              репутацию.</small
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
