<section
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 text-center bg-light section-shadow-border section--hidden"
  aria-labelledby="about-heading"
  id="about"
>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="text-center">
          <h2 id="about-heading" class="display-2 fw-bold mb-5">О НАС</h2>
          <p class="lead-custom">
            Международная сеть страховых брокеров
            <strong>«IBB»</strong> специализируется на страховании международных
            автоперевозчиков, <strong>грузоотправителей</strong> (экспортеров),
            <strong>грузополучателей</strong> (импортеров) и помогает
            оптимизировать расходы на страховую логистику, обеспечивающую полное
            покрытие рисков при перевозках между <strong>Европой</strong> и
            <strong>Азией</strong>, в соответствии с законодательством стран
            транзита.
          </p>
          <p class="lead-custom">
            В <strong>IBB</strong> входят <strong>эксперты</strong> и
            профессиональные посредники (преимущественно юридические лица),
            осуществляющие деятельность в сфере страховых услуг в
            <strong>Российской Федерации</strong>,
            <strong>Республике Казахстан</strong>,
            <strong>Республике Беларусь</strong>, <strong>Узбекистане</strong>,
            <strong>Грузии</strong> и др., которые имеют все необходимые
            компетенции и лицензии стран регистрации.
          </p>
          <p class="lead-custom">
            Нашими клиентами являются более
            <strong>350 организаций</strong> всех форм собственности, в том
            числе
            <strong>56 крупных логистических и транспортных компаний</strong>, а
            также индивидуальные предприниматели из <strong>12 стран</strong>.
            <small
              >Мы гордимся тем, что наша сеть имеет долгую историю и надежную
              репутацию.</small
            >
          </p>
          <p class="lead-custom">
            Теперь <strong>не нужно выяснять</strong>, какие страховки нужны и
            где их можно получить по маршруту следования. Мы Вам
            <em>подскажем</em>, где и что должно быть в наличии
            <small>(в соответствии с требованиями законодательства)</small>. Мы
            подберем оптимальные условия и оформим все необходимые документы в
            одно время и в одном месте.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
