<section
  id="benefits"
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 bg-light section-shadow-border section--hidden"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-10 col-xl-9">
        <h2 class="display-2 fw-bold mb-5">ПОЧЕМУ МЫ?</h2>
        <p class="lead-custom mb-4">
          Мы предлагаем
          <strong>полный спектр страховых услуг</strong> для
          <strong>международных автоперевозчиков</strong>,
          <em>оптимизируя расходы</em> на страхование и обеспечивая
          <strong>полное покрытие</strong>
          всех возможных рисков. Мы знаем специфику рынков стран транзита, какие
          <strong>обязательные страховки</strong> нужны в них для въезда
          (выезда), нюансы условий договоров страхования и тарифов.
          <small
            >(Подберем для Вас оптимальный вариант с учетом специфики
            деятельности.)</small
          >
        </p>
      </div>
    </div>
    <div class="row g-4 g-md-5 text-center">
      <div class="col-12 col-md-4 mb-3">
        <div
          class="card text-center border-0 h-100 shadow-lg rounded-5 section-bg-blue-white"
        >
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Полное покрытие рисков</h3>
            <p class="lead">
              Мы обеспечиваем страхование от всех рисков
              <strong>необходимых персонально</strong> для каждого клиента с
              учётом законодательства всех транзитных стран и нюансов условий
              местных <em>страховщиков</em>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div
          class="card text-center border-0 h-100 shadow-lg rounded-5 section-bg-blue-white"
        >
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Удобство и экономия времени</h3>
            <p class="lead">
              Оформление необходимого пакета страховок в одном месте без
              дополнительных усилий
              <strong>экономит Ваше время</strong> и средства.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div
          class="card text-center border-0 h-100 shadow-lg rounded-5 section-bg-blue-white"
        >
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Гибкость тарифов</h3>
            <p class="lead">
              Мы предлагаем
              <strong>оптимальные тарифы</strong>, учитывая
              <em
                >индивидуальные потребности клиента и протяженности
                маршрутов</em
              >. Вам не нужно платить за лишнее, но и не останетесь без
              необходимой страховой защиты. Всю страховую логистику мы берём на
              себя.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
