<section
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 bg-light section-shadow-border section--hidden"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-10 col-xl-9">
        <h2 class="display-2 fw-bold mb-5">ПОЧЕМУ МЫ?</h2>
        <p class="lead-custom mb-4">
          Мы предлагаем
          <strong>полный спектр страховых услуг</strong> для
          <strong>международных автоперевозчиков</strong>,
          <em>оптимизируя расходы</em> на страхование и обеспечивая
          <strong>полное покрытие</strong>
          всех возможных рисков. Мы знаем специфику рынков стран транзита, какие
          <strong>обязательные страховки</strong> нужны в них для въезда
          (выезда), нюансы условий договора страхования и тарифов.
          <small
            >(Подберем для вас оптимальный вариант с учетом специфики
            деятельности.)</small
          >
        </p>
      </div>
    </div>
    <div class="row g-4 g-md-5 text-center">
      <dl class="col-md-6 col-xl-4">
        <dt class="h3 mb-2 mb-lg-3 fw-bold">Полное покрытие рисков</dt>
        <dd class="fs-5">
          <strong>Полное покрытие рисков.</strong> Мы обеспечиваем страхование
          от всех рисков <strong>необходимых персонально</strong> для каждого
          клиента с учётом законодательства всех транзитных стран и нюансов
          условий местных <em>страховщиков</em>.
        </dd>
      </dl>
      <dl class="col-md-6 col-xl-4">
        <dt class="h3 mb-2 mb-lg-3 fw-bold">Удобство и экономия времени</dt>
        <dd class="fs-5">
          <strong>Удобство и экономия времени.</strong> Оформление необходимого
          пакета страховок в одном месте без дополнительных усилий
          <strong>экономит Ваше время</strong> и средства.
        </dd>
      </dl>
      <dl class="col-md-6 col-xl-4">
        <dt class="h3 mb-2 mb-lg-3 fw-bold">Гибкость тарифов</dt>
        <dd class="fs-5">
          <strong>Оптимальность тарифов.</strong> Мы предлагаем
          <strong>гибкие тарифы</strong>, учитывая
          <em>индивидуальные потребности маршрута</em>. Вам не нужно платить за
          лишнее, но и не останетесь без необходимой страховой защиты. Всю
          страховую логистику мы берём на себя.
        </dd>
      </dl>
    </div>
  </div>
</section>
