<section
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 bg-light section-shadow-border"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-10 col-xl-9">
        <h2 class="display-2 fw-bold mb-5">Почему мы?</h2>
        <p class="lead-custom">
          Мы предлагаем полный спектр услуг для международных автоперевозчиков,
          оптимизируя расходы на страхование и обеспечивая полное покрытие всех
          возможных рисков.
        </p>
      </div>
    </div>
    <div class="row g-4 g-md-5 text-center">
      <div class="col-md-6 col-xl-4">
        <div class="h3 mb-2 mb-lg-3 fw-bold">Полное покрытие рисков</div>
        <p class="fs-5">
          <strong>Полное покрытие рисков</strong>. Мы обеспечиваем страхование
          от всех рисков <mark>необходимых персонально</mark> для каждого
          клиента с учётом законодательства всех транзитных стран и нюансов
          условий местных <em>страховщиков</em>.
        </p>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="h3 mb-2 mb-lg-3 fw-bold">Удобство и экономия времени</div>
        <p class="fs-5">
          <strong>Удобство и экономия времени</strong>. Оформление необходимого
          пакета страховок в одном месте без дополнительных усилий
          <mark>экономит Ваше время</mark> и средства.
        </p>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="h3 mb-2 mb-lg-3 fw-bold">Гибкость тарифов</div>
        <p class="fs-5">
          <strong>Оптимальность тарифов</strong>. Мы предлагаем
          <mark>гибкие тарифы</mark>, учитывая
          <em>индивидуальные потребности маршрута</em>. Вам не нужно платить за
          лишнее, но и не останетесь без необходимой страховой защиты. Всю
          страховую <small>логистику мы берём на себя</small>.
        </p>
      </div>
    </div>
  </div>
</section>
