<section
  class="py-5 bg-light d-flex align-items-center justify-content-center min-vh-100 section-shadow-border section--hidden"
  aria-labelledby="cta-heading"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-4 mt-lg-0">
        <h2 id="cta-heading" class="display-2 fw-bold mb-5 text-center">
          КОНТАКТЫ
        </h2>
        <p class="lead-custom mb-4 text-center">
          и мы окажем Вам страховую поддержку. Мы готовы предложить вам
          <strong>комплексные решения</strong>, которые помогут снизить риски и
          <small>оптимизировать расходы</small> на страхование.
          <strong>Готовы к сотрудничеству?</strong> Свяжитесь с нами, и мы
          обсудим, как наши эксперты могут поддержать ваш бизнес на пути к
          общему успеху!
        </p>

        <div class="flex flex-column align-items-center text-primary">
          <a
            class="d-block text-center text-decoration-none mb-3 fs-1 fw-bold"
            href="tel:+79107170688"
            >+7-910-717-06-88</a
          >
          <a
            class="d-block text-center text-decoration-none fs-1 fw-bold"
            href="mailto:info@ibb.expert"
            >info@ibb.expert</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
