<section class="py-5" aria-labelledby="cta-heading">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-4 mt-lg-0">
        <h2 id="cta-heading" class="display-2 fw-bold mb-5 text-center">
          Свяжитесь с нами
        </h2>
        <p class="lead-custom mb-4">
          Мы уверены, что совместными усилиями мы сможем создать
          <strong>надежную</strong> и <strong>эффективную</strong> систему
          страхования для международных автоперевозок и грузоотправителей.
          Присоединяйтесь к нашей сети и давайте вместе обеспечим
          <em>безопасность</em> и <em>стабильность</em> вашего бизнеса в
          процессе перевозок между Европой и Азией. Мы готовы предложить вам
          <strong>комплексные решения</strong>, которые помогут снизить риски и
          <small>оптимизировать расходы</small> на страхование.
          <strong>Готовы к сотрудничеству?</strong> Свяжитесь с нами, и мы
          обсудим, как наши эксперты могут поддержать ваш бизнес на пути к
          общему успеху!
        </p>

        <div class="flex flex-column align-items-center text-primary">
          <a
            class="d-block text-center text-decoration-none mb-3 fs-1 fw-bold"
            href="tel:+1(234)%20567-89-01"
            >+1(234) 567-89-10</a
          >
          <a
            class="d-block text-center text-decoration-none fs-1 fw-bold"
            href="mailto:info@ibb.expert"
            >info@ibb.expert</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
