<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-8 col-xl-7">
        <span class="text-muted">Ответы на ваши вопросы</span>
        <h2 class="display-5 fw-bold">Часто задаваемые вопросы</h2>
        <p class="lead">
 Мы собрали самые часто задаваемые вопросы, чтобы помочь вам быстрее найти ответы. Если у вас есть другие вопросы, мы всегда рады помочь!
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <span class="text-muted">Не нашли ответ?</span>
        <h2 class="pb-4 fw-bold">Свяжитесь с нами</h2>
        <p>Наши специалисты всегда готовы ответить на ваши вопросы и помочь вам с решением любых проблем.
        </p>
        </p>
        <a class="btn btn-primary btn-lg mt-3" href="#">Свяжитесь с нами</a>
      </div>
      <div class="col-md-7">
        <div class="accordion" id="Questions-accordion">
          <div class="accordion-item">
            <h2 class="accordion-header" id="Questions-headingOne">
              <button
                aria-controls="Questions-collapseOne"
                aria-expanded="false"
                class="accordion-button collapsed bg-light"
                data-bs-target="#Questions-collapseOne"
                data-bs-toggle="collapse"
                type="button"
              >
                <div class="text-muted me-3">
                  <svg
                    class="bi bi-question-circle-fill"
                    fill="currentColor"
                    height="24"
                    viewbox="0 0 16 16"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
                    ></path>
                  </svg>
                </div>
               Что такое International Brokers' Board (IBB)?
              </button>
            </h2>
            <div
              aria-labelledby="Questions-headingOne"
              class="accordion-collapse collapse"
              data-bs-parent="#Questions-accordion"
              id="Questions-collapseOne"
            >
              <div class="accordion-body">
IBB – это международная ассоциация страховых посредников, объединяющая брокеров и агентов со всего мира. Мы предоставляем платформу для сотрудничества, обмена опытом и продвижения передовых страховых решений.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="Questions-headingTwo">
              <button
                aria-controls="Questions-collapseTwo"
                aria-expanded="false"
                class="accordion-button collapsed bg-light"
                data-bs-target="#Questions-collapseTwo"
                data-bs-toggle="collapse"
                type="button"
              >
                <div class="text-muted me-3">
                  <svg
                    class="bi bi-question-circle-fill"
                    fill="currentColor"
                    height="24"
                    viewbox="0 0 16 16"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
                    ></path>
                  </svg>
                </div>
                Какую помощь вы оказываете в страховании?
              </button>
            </h2>
            <div
              aria-labelledby="Questions-headingTwo"
              class="accordion-collapse collapse"
              data-bs-parent="#Questions-accordion"
              id="Questions-collapseTwo"
            >
              <div class="accordion-body">
- Помогаем подобрать подходящие страховые продукты.
- Упрощаем оформление полисов для международных маршрутов.
- Консультируем по вопросам законодательных требований в странах транзита.
- Сопровождаем клиентов 24/7 в случае страховых случаев.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="Questions-headingThree">
              <button
                aria-controls="Questions-collapseThree"
                aria-expanded="false"
                class="accordion-button collapsed bg-light"
                data-bs-target="#Questions-collapseThree"
                data-bs-toggle="collapse"
                type="button"
              >
                <div class="text-muted me-3">
                  <svg
                    class="bi bi-question-circle-fill"
                    fill="currentColor"
                    height="24"
                    viewbox="0 0 16 16"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
                    ></path>
                  </svg>
                </div>
               Какие услуги предоставляют члены IBB?
              </button>
            </h2>
            <div
              aria-labelledby="Questions-headingThree"
              class="accordion-collapse collapse"
              data-bs-parent="#Questions-accordion"
              id="Questions-collapseThree"
            >
              <div class="accordion-body">
Наши партнеры предлагают комплекс страховых решений, включая:
- Обязательное страхование гражданской ответственности (ОСАГО).
- Страхование грузов и автопарка (КАСКО).
-Добровольное страхование ответственности.
- Медицинское страхование для сотрудников.
- Консультации по управлению рисками.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="Questions-headingFour">
              <button
                aria-controls="Questions-collapseFour"
                aria-expanded="false"
                class="accordion-button collapsed bg-light"
                data-bs-target="#Questions-collapseFour"
                data-bs-toggle="collapse"
                type="button"
              >
                <div class="text-muted me-3">
                  <svg
                    class="bi bi-question-circle-fill"
                    fill="currentColor"
                    height="24"
                    viewbox="0 0 16 16"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
                    ></path>
                  </svg>
                </div>
                В каких странах работают члены IBB?
              </button>
            </h2>
            <div
              aria-labelledby="Questions-headingFour"
              class="accordion-collapse collapse"
              data-bs-parent="#Questions-accordion"
              id="Questions-collapseFour"
            >
              <div class="accordion-body">
Мы предоставляем услуги в Европе, Азии, СНГ и других регионах. Наши основные партнёры находятся в странах с высоким спросом на международное страхование: Польша, Казахстан, Латвия, Узбекистан, Россия, Литва, Беларусь, Узбекистан, Грузия и другие.
              </div>
            </div>
          </div>
                    <div class="accordion-item">
            <h2 class="accordion-header" id="Questions-headingFour">
              <button
                aria-controls="Questions-collapseFour"
                aria-expanded="false"
                class="accordion-button collapsed bg-light"
                data-bs-target="#Questions-collapseFour"
                data-bs-toggle="collapse"
                type="button"
              >
                <div class="text-muted me-3">
                  <svg
                    class="bi bi-question-circle-fill"
                    fill="currentColor"
                    height="24"
                    viewbox="0 0 16 16"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
                    ></path>
                  </svg>
                </div>
                Какие преимущества даёт участие в IBB?
              </button>
            </h2>
            <div
              aria-labelledby="Questions-headingFour"
              class="accordion-collapse collapse"
              data-bs-parent="#Questions-accordion"
              id="Questions-collapseFour"
            >
              <div class="accordion-body">
- Доступ к международной сети страховых партнёров.
- Персонализированная поддержка и консультации.
- Участие в обучающих программах и мероприятиях.
- Прямой доступ к лучшим страховым продуктам и решениям.
- Сотрудничество с IBB повышает доверие клиентов и партнёров!
              </div>
            </div>
          </div>
                    <div class="accordion-item">
            <h2 class="accordion-header" id="Questions-headingFour">
              <button
                aria-controls="Questions-collapseFour"
                aria-expanded="false"
                class="accordion-button collapsed bg-light"
                data-bs-target="#Questions-collapseFour"
                data-bs-toggle="collapse"
                type="button"
              >
                <div class="text-muted me-3">
                  <svg
                    class="bi bi-question-circle-fill"
                    fill="currentColor"
                    height="24"
                    viewbox="0 0 16 16"
                    width="24"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"
                    ></path>
                  </svg>
                </div>
                Как стать участником ассоциации?
              </button>
            </h2>
            <div
              aria-labelledby="Questions-headingFour"
              class="accordion-collapse collapse"
              data-bs-parent="#Questions-accordion"
              id="Questions-collapseFour"
            >
              <div class="accordion-body">
Для вступления в IBB необходимо подать заявку через наш сайт. Мы рассматриваем заявки от страховых брокеров, агентов и компаний, соответствующих нашим профессиональным стандартам.
Свяжитесь с нами:membership@ibb.expert
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
