<section
  id="features"
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 section-shadow-border section--hidden section-bg-blue-white"
  aria-labelledby="advantages-heading"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-10 col-xl-9">
        <h2 id="advantages-heading" class="display-2 fw-bold mb-5">
          НАШИ ПРЕИМУЩЕСТВА
        </h2>
        <p class="lead-custom mb-4">
          <strong class="text-decoration-underline"
            >Страхование без границ.</strong
          >
          Оформление договоров страхования (<strong>полисов</strong>) всех стран
          маршрута следования в одном месте – <em>от Европы до Азии</em> и
          обратно, включая ЕС, ЕврАзЭС, Узбекистан, Грузию и другие страны.
        </p>
      </div>
    </div>
    <div class="row g-4 g-md-5 text-center">
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Оптимальные тарифы</h3>
            <p class="lead">
              <strong>Подбираем выгодные условия страхования</strong>, позволяя
              <strong>оптимизировать затраты</strong> без потери
              <em>качества защиты</em>. Сотрудничаем с большинством ведущих
              страховых компаний стран присутствия.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Контроль и прозрачность</h3>
            <p class="lead">
              Все операции проводятся исключительно
              <strong>в безналичной форме</strong>, обеспечивая
              <strong>прозрачность денежных потоков</strong> и
              <em>полную безопасность сделок</em>.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Поддержка и сервис</h3>
            <p class="lead">
              За каждым клиентом закрепляется
              <strong>персональный менеджер</strong>. Консультируем по
              <strong>нюансам страхования</strong> в каждой стране,
              <em>условиям страховщиков</em>, помогаем с урегулированием
              страховых случаев.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
