<section
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 section-shadow-border"
  aria-labelledby="advantages-heading"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-10 col-xl-9">
        <h2 id="advantages-heading" class="display-2 fw-bold mb-5">
          Наши преимущества
        </h2>
        <p class="lead mb-5 lead-custom">
          <strong>Страхование без границ.</strong> Оформление договоров
          страхования (<strong>полисов</strong>) всех стран маршрута следования
          в одном месте – <em>от Европы до Азии</em> и обратно, включая ЕС,
          ЕврАзЭС, Узбекистан, Грузию и другие страны.
        </p>
      </div>
    </div>
    <div class="row g-4 g-md-5 text-center" role="list">
      <dl class="col-md-4" role="listitem">
        <dt class="h3 mb-2 mb-lg-3 fw-bold">Оптимальные тарифы</dt>
        <dd class="fs-5">
          <strong>Подбираем выгодные условия страхования</strong>, позволяя
          <strong>снизить затраты</strong> без потери <em>качества защиты</em>.
          Сотрудничаем с большинством ведущих страховых компаний стран
          присутствия.
        </dd>
      </dl>
      <dl class="col-md-4" role="listitem">
        <dt class="h3 mb-2 mb-lg-3 fw-bold">Контроль и прозрачность</dt>
        <dd class="fs-5">
          Все операции проводятся исключительно
          <strong>в безналичной форме</strong>, обеспечивая
          <strong>прозрачность денежных потоков</strong> и
          <em>полную безопасность сделок</em>.
        </dd>
      </dl>
      <dl class="col-md-4" role="listitem">
        <dt class="h3 mb-2 mb-lg-3 fw-bold">Поддержка и сервис</dt>
        <dd class="fs-5">
          За каждым клиентом закрепляется
          <strong>персональный менеджер</strong>. Консультируем по
          <strong>нюансам страхования</strong> в каждой стране,
          <em>условиям страховщиков</em>, помогаем с урегулированием страховых
          случаев.
        </dd>
      </dl>
    </div>
  </div>
</section>
