<section class="py-5">
  <div class="container">
    <div class="row justify-content-center text-center mb-3">
      <div class="col-lg-8 col-xl-7">
        <span class="text-muted">Наши преимущества</span>
        <h2 class="display-5 fw-bold">Почему выбирают нас?</h2>
        <p class="lead">
          Международная сеть страховых брокеров «IBB» предлагает уникальные
          условия страхования для автоперевозчиков, обеспечивая защиту, удобство
          и прозрачность.
        </p>
      </div>
    </div>
    <div class="row g-4 g-md-5">
      <div class="col-md-6">
        <div class="d-flex">
          <div class="text-primary me-4">
            <svg
              class="bi bi-globe"
              fill="currentColor"
              height="32"
              width="32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zm0 15a7 7 0 1 0 0-14 7 7 0 0 0 0 14z"
              />
            </svg>
          </div>
          <div>
            <h5 class="mb-2 mb-lg-3 fw-bold">Страхование без границ</h5>
            <p>
              Оформление полисов по всему маршруту следования в одном месте – от
              Европы до Азии и обратно, включая ЕС, ЕврАзЭС, Узбекистан, Грузию
              и другие страны.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <div class="text-primary me-4">
            <svg
              class="bi bi-cash-coin"
              fill="currentColor"
              height="32"
              width="32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M11 1a4 4 0 1 1 0 8A4 4 0 0 1 11 1z" />
            </svg>
          </div>
          <div>
            <h5 class="mb-2 mb-lg-3 fw-bold">Оптимальные тарифы</h5>
            <p>
              Подбираем выгодные условия страхования, позволяя снизить затраты
              без потери качества защиты. Работаем без посредников.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <div class="text-primary me-4">
            <svg
              class="bi bi-shield-lock"
              fill="currentColor"
              height="32"
              width="32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4 2a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v1h1a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h1V2z"
              />
            </svg>
          </div>
          <div>
            <h5 class="mb-2 mb-lg-3 fw-bold">Контроль и прозрачность</h5>
            <p>
              Все операции проводятся исключительно в безналичной форме,
              обеспечивая прозрачность денежных потоков и полную безопасность
              сделок.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="d-flex">
          <div class="text-primary me-4">
            <svg
              class="bi bi-headset"
              fill="currentColor"
              height="32"
              width="32"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M8 1a7 7 0 0 1 7 7v3a3 3 0 0 1-3 3H4a3 3 0 0 1-3-3V8a7 7 0 0 1 7-7z"
              />
            </svg>
          </div>
          <div>
            <h5 class="mb-2 mb-lg-3 fw-bold">Поддержка 24/7</h5>
            <p>
              За каждым клиентом закреплён персональный специалист, который
              помогает в урегулировании страховых случаев и консультациях в
              любое время суток.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
