<footer class="py-3 my-4">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">В начало</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">О нас</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Наши преимущества</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Виды страхования</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Почему мы?</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Как это работает</a
        >
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary">Отзывы</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2 text-body-secondary"
          >Часто задаваемые вопросы</a
        >
      </li>
    </ul>
    <p class="text-center text-body-secondary">© 2025 IBB.EXPERT</p>
  </div>
</footer>
