<div
  class="d-flex align-items-center justify-content-center min-vh-100 text-center"
>
  <div class="container">
    <h1 class="display-1 fw-bold text-body-emphasis mb-4">
      Страховая логистика по всему марштуру Европа - Китай
    </h1>
    <div class="col-lg-8 mx-auto">
      <p class="lead mb-4">
        Электронное ОСАГО(СО, СИНЯЯ, ЗЕЛЕНАЯ, БЕЛАЯ КАРТА) ВСЕХ СТРАН ТРАНЗИТА*
        в одном месте в и в одно время. Вместе по новому шёлковому пути.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4">
          Узнать подробнее
        </button>
      </div>
    </div>
  </div>
</div>
