<section
  class="py-5 d-flex justify-content-center align-items-center min-vh-100 bg-light section-shadow-border section--hidden"
  aria-labelledby="steps-title"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-4">
      <div class="col-lg-10 col-xxl-9">
        <h3 id="steps-title" class="display-2 fw-bold mb-5">
          Как это работает
        </h3>
        <p class="lead-custom mb-4">
          <strong>Международная сеть страховых брокеров «IBB»</strong>
          предлагает вам <em>выгодные условия</em> для
          <strong>страхования автоперевозок</strong>. Мы гарантируем
          <strong>полное покрытие рисков</strong> и
          <em>оптимизацию расходов</em> для
          <strong>международных автоперевозчиков</strong>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mx-auto">
        <dl>
          <div class="row">
            <dt class="col-auto text-center">
              <div
                class="d-flex rounded-circle align-items-center justify-content-center bg-primary text-white fs-3 fw-bold border border-white border-4 me-1"
                style="width: 4rem; height: 4rem"
              >
                1
              </div>
              <div class="text-muted fw-light mt-1">Шаг 1</div>
            </dt>
            <dd class="col">
              <div class="card rounded-0 bg-light py-4 px-5 mb-5">
                <h3>Заявка на договор страхования</h3>
                <p class="text-muted mb-0">
                  Обращаетесь к нам по каналам электронной связи (телефон,
                  электронная почта, мессенджеры).
                </p>
              </div>
            </dd>
          </div>

          <div class="row">
            <dt class="col-auto text-center">
              <div
                class="d-flex rounded-circle align-items-center justify-content-center bg-primary text-white fs-3 fw-bold border border-white border-4 me-1"
                style="width: 4rem; height: 4rem"
              >
                2
              </div>
              <div class="text-muted fw-light mt-1">Шаг 2</div>
            </dt>
            <dd class="col">
              <div class="card rounded-0 bg-light py-4 px-5 mb-5">
                <h3>Подбор тарифов и условий</h3>
                <p class="text-muted mb-0">
                  Мы подбираем вам все необходимые страховки и согласовываем их.
                </p>
              </div>
            </dd>
          </div>
          <div class="row">
            <dt class="col-auto text-center">
              <div
                class="d-flex rounded-circle align-items-center justify-content-center bg-primary text-white fs-3 fw-bold border border-white border-4 me-1"
                style="width: 4rem; height: 4rem"
              >
                3
              </div>
              <div class="text-muted fw-light mt-1">Шаг 3</div>
            </dt>
            <dd class="col">
              <div class="card rounded-0 bg-light py-4 px-5 mb-5">
                <h3>Согласование договора</h3>
                <p class="text-muted mb-0">
                  Связываемся с нашими партнерами, которые выставляют вам счета.
                </p>
              </div>
            </dd>
          </div>
          <div class="row">
            <dt class="col-auto text-center">
              <div
                class="d-flex rounded-circle align-items-center justify-content-center bg-primary text-white fs-3 fw-bold border border-white border-4 me-1"
                style="width: 4rem; height: 4rem"
              >
                4
              </div>
              <div class="text-muted fw-light mt-1">Шаг 4</div>
            </dt>
            <dd class="col">
              <div class="card rounded-0 bg-light py-4 px-5 mb-5">
                <h3>Оплата</h3>
                <p class="text-muted mb-0">
                  Вы можете оплатить услуги с помощью кредитных карт,
                  электронных кошельков или банковских переводов. Все платежи
                  обрабатываются через защищенные каналы, и ваши личные данные
                  надежно защищены.
                </p>
              </div>
            </dd>
          </div>
          <div class="row">
            <dt class="col-auto text-center">
              <div
                class="d-flex rounded-circle align-items-center justify-content-center bg-primary text-white fs-3 fw-bold border border-white border-4 me-1"
                style="width: 4rem; height: 4rem"
              >
                5
              </div>
              <div class="text-muted fw-light mt-1">Шаг 5</div>
            </dt>
            <dd class="col">
              <div class="card rounded-0 bg-light py-4 px-5 mb-5">
                <h3>Заключение и оформление договора</h3>
                <p class="text-muted mb-0">
                  После оплаты партнеры оформляют договоры страхования.
                </p>
              </div>
            </dd>
          </div>
          <div class="row">
            <dt class="col-auto text-center">
              <div
                class="d-flex rounded-circle align-items-center justify-content-center bg-primary text-white fs-3 fw-bold border border-white border-4 me-1"
                style="width: 4rem; height: 4rem"
              >
                6
              </div>
              <div class="text-muted fw-light mt-1">Шаг 6</div>
            </dt>
            <dd class="col">
              <div class="card rounded-0 bg-light py-4 px-5 mb-5">
                <h3>Заключение и оформление договора</h3>
                <p class="text-muted mb-0">
                  Направляем вам в электронной виде документы.
                </p>
              </div>
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
