<section
  class="py-5 align-items-center justify-content-center min-vh-100 text-center bg-light section-shadow-border"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-2 mb-lg-4">
      <div class="col-10 text-center mx-auto">
        <h4 class="display-2 fw-bold mb-5">Виды страхования</h4>
        <p class="lead-custom mb-4">
          Мы предлагаем широкий выбор страховых услуг, которые помогут вам
          защитить ваше имущество, здоровье и жизнь. Наши решения покрывают все
          основные виды страхования — от страхования автомобилей и жилья до
          медицинского и страхования жизни. Мы поможем подобрать лучший вариант,
          учитывая ваши индивидуальные потребности.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Basic</h3>
            <p class="lead">
              ОСАГО, как резидентов, так и нерезидентов стран транзита. В том
              числе пограничного и трансграничного страхования, по системам
              Зелёная, Синяя, Белая карта, ОС.
            </p>
            <a
              href="#"
              class="btn button-custom-dark btn-lg mt-4"
              aria-label="Узнать подробнее"
              >Узнать подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">STANDART (В+)</h3>
            <p class="lead">
              Добровольное страхование наземных транспортных средств
              (АВТОКАСКО), грузов, ответственности экспедиторов и перевозчиков.
            </p>
            <a
              href="#"
              class="btn button-custom-dark btn-lg mt-4"
              aria-label="Узнать подробнее"
              >Узнать подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">PRO (В+,S+)</h3>
            <p class="lead">
              Добровольное страхование автогражданской ответственности
              владельцев транспортных средств, имущества, от несчастных случаев
              водителей и иных работников компании, медицинское и прочее
              страхование.
            </p>
            <a
              href="#"
              class="btn button-custom-dark btn-lg mt-4"
              aria-label="Узнать подробнее"
              >Узнать подробнее</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
