<section
  id="services"
  class="py-5 d-flex align-items-center justify-content-center min-vh-100 text-center section-shadow-border section--hidden"
>
  <div class="container">
    <div class="row justify-content-center text-center mb-2 mb-lg-4">
      <div class="col-10 text-center mx-auto">
        <h4 class="display-2 fw-bold mb-5">ВИДЫ СТРАХОВАНИЯ</h4>
        <p class="lead-custom mb-4">
          Мы предлагаем <strong>широкий спектр страховых услуг</strong>, которые
          помогут защитить Ваше <strong>имущество</strong>,
          <strong>здоровье</strong> и <strong>жизнь</strong>. Наши решения
          покрывают все основные виды страхования — от ответственности,
          <strong>грузов, автотранспорта</strong> и
          <strong>недвижимости</strong> до
          <strong>медицинского и страхования жизни</strong>. Мы поможем
          подобрать <em>лучший вариант</em>, учитывая Ваши
          <strong>индивидуальные особенности и потребности</strong>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">Basic</h3>
            <p class="lead">
              <strong>ОСАГО</strong>, как <strong>резидентов</strong>, так и
              <strong>нерезидентов</strong> стран транзита. В том числе
              <em>пограничного</em> и <em>трансграничного страхования</em>, по
              системам
              <strong
                >Зелёная, Синяя, Белая карта, ОС, ОСГО ВТС, ОС ГПО ВТС</strong
              >.
            </p>

            <a
              href="#contact"
              class="btn button-custom-dark btn-lg mt-4"
              aria-label="Узнать подробнее"
              >Узнать подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">STANDART (В+)</h3>
            <p class="lead">
              <strong>Добровольное страхование</strong> наземных транспортных
              средств (<strong>АВТОКАСКО</strong>), грузов, ответственности
              экспедиторов и перевозчиков.
            </p>

            <a
              href="#contact"
              class="btn button-custom-dark btn-lg mt-4"
              aria-label="Узнать подробнее"
              >Узнать подробнее</a
            >
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-3">
        <div class="card text-center border-0 h-100 shadow-lg rounded-5">
          <div
            class="card-body py-5 d-flex flex-column justify-content-between"
          >
            <h3 class="fw-bold mb-3">PRO (В+,S+)</h3>
            <p class="lead">
              <strong>Добровольное страхование</strong> автогражданской
              ответственности владельцев транспортных средств, имущества, от
              несчастных случаев водителей и иных работников компании,
              <strong>медицинское</strong> и прочее страхование.
            </p>

            <a
              href="#contact"
              class="btn button-custom-dark btn-lg mt-4"
              aria-label="Узнать подробнее"
              >Узнать подробнее</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
