body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  padding-top: 71px;
  flex: 1;
}

.lead-custom {
  font-size: 1.5rem;
  font-weight: 300;
}

.section-shadow-border {
  box-shadow: 0 -4px 4px rgba(150, 150, 150, 0.3);
  border-bottom: 1px solid #dee2e6;
}

.button-custom {
  color: #fff;
  border: 1px solid white;
  background: linear-gradient(#fff 0 0) 0% calc(-3px - 100%) / var(--d, 0%) 200%
    no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}

.button-custom-dark {
  color: #000;
  border: 1px solid #000;
  background: linear-gradient(#000 0 0) 0% calc(-3px - 100%) / var(--d, 0%) 200%
    no-repeat;
  transition: 0.3s, background-size 0.3s 0.3s;
}

@media (hover: hover) {
  .button-custom:hover {
    --d: 100%;
    background-position: 50% 0%;
    color: #000;
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }

  .button-custom-dark:hover {
    --d: 100%;
    background-position: 50% 0%;
    color: #fff;
    transition: 0.3s, background-position 0.3s 0.3s, color 0.3s 0.3s;
  }
}
