body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.lead-custom {
  font-size: 1.5rem;
  font-weight: 300;
}

.section-shadow-border {
  box-shadow: 0 -4px 4px rgba(150, 150, 150, 0.3);
  border-bottom: 1px solid #dee2e6;
}
